<!DOCTYPE html>
<html>
	<head>
		<title>iCry Camera</title></title>
	</head>
	<body>
		<h1 style = "color: red">Camera is recording...</h1>
		
		<video id="video" autoplay width = "600" height ="460"></video>
		<canvas id="canvas"></canvas><br>
		<button onclick= "snap();">Snap</button>
        <button onclick = "stop();">Stop Recording</button>
		<button onclick= "save();">Save</button>
		
		<script type="text/javascript">

			var video = document.getElementById('video');
			var canvas = document.getElementById('canvas');
			var context = canvas.getContext('2d');
			var streaming = '';

			navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.oGetUserMedia || navigator.msGetUserMedia;

			if(navigator.getUserMedia){
				navigator.getUserMedia({video:true}, streamWebCam, throwError);
			}

			function streamWebCam (stream) {
				video.src = window.URL.createObjectURL(stream);
				video.play();
			}

			function throwError (e) {
				alert(e.name);
			}

			function snap () {
				canvas.width = video.clientWidth;
				canvas.height = video.clientHeight;
				context.drawImage(video, 0, 0);
			}
			function stop() {
				video.src ='';
				streaming.stop();
			
			}

		</script>
	</body>
</html>